html{
    padding: 0px 0px;
    background-color: #808080;
}
body {
    margin: 0;
    padding: 0;
  }
  

nav{
align-items: center;
justify-content: center;
display: flex;
justify-content: space-between;
background-color: #FFB6C1;
margin: 0px 0px ;
padding: 0px 0px ;
    
}
nav img {
    height: 100px;
    width: auto;
  }
  p.aa{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


nav div {
    justify-content: space-between;
    display: flex;
}
nav div span{
    margin: 20px;
}

div.aa{
    margin: 150px 250px;;
}

h1{
    
    align-items: center;
    justify-content: center;
    display: flex;
    
    
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    position: relative;
    margin-top: 20px;
    transition: .2s all;
    font-weight: 300;
    display: flex;
    width:fit-content;
    padding: 0 15px;
   
  
    
  }
  a::before {
    content: '';
    position: absolute;
    background: #FFB6C1;
    width: 2px;
    height: 100%;
    left: -10px;
    transition: .2s all;
    z-index: -1;
  }

  a:hover::before {
    width: 100% ;
  }
  a:hover {
    color: #ffffff;
    font-size: 1.6em;
  }

  div.link{
    justify-content: center;
    align-items: center;
    display: flex;
  }

  hr{
    color: #FFB6C1;

    margin:5% 20%;
  }

  div.video-container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 30px;
  }
  video{
    width: 600px;
    height: auto;
    border-radius: 20px;
  }

  div.feature-text{
    background-color: #999999;
    border-radius: 20px;
    border: solid 1px #36393F;
   
  }
  

span.cmd{
  font-family: 'Roboto Mono', monospace;
}
.cmd {
  border: 1px solid ;
  padding: 2px 5px;
}
.cmd:hover{
  background-color: black;
  text-decoration: white;
  color: white;
  transition: 0.2s;
  cursor: pointer;
}
h2{
  align-items: center;
  justify-content: center;
  display: flex;
}


.feature-text {
  width: 50%;
  box-sizing: border-box;
}
