*{
  box-sizing: border-box;
}

html{
    padding: 0px 0px;
    background-color: #808080;
}
body {
    margin: 0;
    padding: 0;
  }
  

nav{
align-items: center;
justify-content: center;
display: flex;
justify-content: space-between;
background-color: #FFB6C1;
margin: 0px 0px ;
padding: 0px 0px ;
    
}
nav img {
    height: 100px;
    width: auto;
  }
  p.aa{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


nav div {
    justify-content: space-between;
    display: flex;
}
nav div span{
    margin: 20px;
}

div.aa{
    margin: 150px 250px;;
}

h1{
    
    align-items: center;
    justify-content: center;
    display: flex;
    
    
}

a.add {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    position: relative;
    margin-top: 20px;
    transition: .2s all;
    font-weight: 300;
    display: flex;
    width:fit-content;
    padding: 0 15px;
   
  
    
  }
  a.add::before {
    content: '';
    position: absolute;
    background: #FFB6C1;
    width: 2px;
    height: 100%;
    left: -10px;
    transition: .2s all;
    z-index: -1;
  }

  a.add:hover::before {
    width: 100% ;
  }
  a.add:hover {
    color: #ffffff;
    font-size: 1.6em;
  }

  div.link{
    justify-content: center;
    align-items: center;
    display: flex;
  }

  hr{
    color: #FFB6C1;

    margin:5% 20%;
  }

  div.video-container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 30px;
  }
  video{
    width: 600px;
    height: auto;
    border-radius: 20px;
  }

  div.feature-text{
    background-color: #999999;
    border-radius: 20px;
    border: solid 1px #36393F;
   
  }
  

span.cmd{
  font-family: 'Roboto Mono', monospace;
}
.cmd {
  border: 1px solid ;
  padding: 2px 5px;
}
.cmd:hover{
  background-color: black;
  text-decoration: white;
  color: white;
  transition: 0.2s;
  cursor: pointer;
}
h2{
  align-items: center;
  justify-content: center;
  display: flex;
}


.feature-text {
  width: 50%;
  box-sizing: border-box;
}

footer {
  background-color: #FFB6C1;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}


footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.legal-info p {
  margin: 5px 0;
}

.legal-info a {
  color: #333;
}

/* Droits d'auteur */
.copyright {
  margin-top: 20px;
}

/* Media query pour ajuster le footer sur les petits écrans */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-links {
    margin-top: 10px;
  }

  .footer-links ul {
    text-align: center;
  }

  .footer-links li {
    display: block;
    margin: 5px 0;
  }
}