html{
    padding: 0px 0px;
    background-color: #808080;
}


nav{
align-items: center;
justify-content: center;
display: flex;
justify-content: space-between;
background-color: #FFB6C1;
margin: 0px 0px ;
padding: 0px 0px ;
    
}
nav img {
    height: 100px;
    width: auto;
  }
  


nav div {
    justify-content: space-between;
    display: flex;
}
nav div span{
    margin: 20px;
}

div.aa{
    margin: 150px 250px;;
}

h1{
    
    align-items: center;
    justify-content: center;
    display: flex;
    
    
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    position: relative;
    
    transition: .2s all;
    font-weight: 300;
    display: flex;
    width:fit-content;
    padding: 0 15px;
   
  
    
  }
  a::before {
    content: '';
    position: absolute;
    background: #FFB6C1;
    width: 2px;
    height: 100%;
    left: -10px;
    transition: .2s all;
    z-index: -1;
  }

  a:hover::before {
    width: 100% ;
  }
  a:hover {
    color: #ffffff;
    font-size: 1.6em;
  }

  div.link{
    justify-content: center;
    align-items: center;
    display: flex;
  }